@import "units";

@mixin wrapper($gap) {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left: rem($gap);
	padding-right: rem($gap);
}

@mixin grid($cols: $grid-cols-desktop, $gap: $grid-gap-desktop, $wrapper: true) {
	display: grid;
	grid-template-columns: repeat($cols, minmax(0, 1fr));
	grid-auto-flow: row;
	grid-template-rows: auto;
	grid-column-gap: rem($gap);

	@if $wrapper {
		@include wrapper($gap);
	}
}

@mixin grid-desktop() {
	@include grid($grid-cols-desktop, rem($grid-gap-desktop));
}

@mixin grid-mobile() {
	@include grid($grid-cols-mobile, rem($grid-gap-mobile));
}
