@mixin blank-button {
	color: currentColor;
	appearance: none;
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0;
	user-select: none;
	text-decoration: none;
	line-height: inherit;
	font-size: inherit;
	letter-spacing: inherit;
}

@mixin flatlist {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
