@import "variables/base";
/*
@font-face {
	font-family: "Maison Neue";
	src: url('$lib/assets/fonts/MaisonNeue-Book.woff2') format('woff2'),
		 url('$lib/assets/fonts/MaisonNeue-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
*/
